@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  background-color: #fffefe;
}
.icon {
  height: 27px;
  width: 27px;
  margin-right: 5px;
  vertical-align: middle;
  margin-top: -5px;
}
.navbar {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 2%;
  /* background-color: rgb(212, 212, 212); */
}
.list {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.5rem;
  list-style: none;
  height: 10px;
  transition: 1s;
}
.left {
  float: left;
  font-weight: bold;
}
.right {
  margin-left: 4%;
  float: right;
}
.right span:hover,
.right span:active {
  /* cursor: pointer;
  border-bottom: 3px solid pink;
  border-bottom-left-radius: 6-px;
  border-bottom-right-radius: 6px; */
  cursor: pointer;
  /* color: #687980; */

  border-bottom: 3px solid #ffffff;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); */
}

.table-country {
  width: 100%;
}
.table-country {
  overflow-y: scroll;
  height: 730px;
  overflow-x: auto;
  display: block;
}

td,
th {
  padding: 10px;
  text-align: left;
}

/* .table-country thead tr th,
.table-country tbody tr td {
  /* border: 2px solid rgb(194, 194, 194); 
} */

.todaycc {
  background-color: #fffbdf;
}
.recovered {
  background-color: #c6ffc1;
  color: #1e6f5c;
}
.deaths {
  background-color: #f8d7d7;
  color: #bb371a;
}
.heading {
  /* width: 100%; */
  text-align: center;
  background-color: rgb(240, 240, 240);
  border-bottom: 4px solid rgb(175, 175, 175);
  padding: 5px;
}
.background {
  height: 53px;
  width: 100%;
  display: none;
  /* background: #ccc; */
}
.container {
  margin-top: 35px;
  width: 95%;
  margin-left: 2.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media only screen and (max-width: 674px) {
  .list {
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    list-style: none;
  }
}
@media (max-width: 750px) {
}
@media only screen and (min-width: 974px) {
}
.header {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  /* transform: scale(8); */
  background-attachment: fixed;
  background-color: rgb(245, 245, 245);
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
    url("img/newsass.jpg");
}

/* input:focus,
textarea:focus,
select:focus {
  outline: none;
} */
input {
  background-color: transparent; /*  removing inputbox all outlines and borders */
  border: 0px solid;
}
input:focus {
  outline: none;
}
.readinput {
  outline-style: none;
}
.searchlist {
  outline-style: none;
}
.youtube {
  background-color: #f9f6f3;
  align-items: center;
  border-radius: 10px;
  width: 30%;
  /* padding: 5px; */
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.searchbar {
  width: 90%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  background-color: #eee5dc;
  justify-content: space-around;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.sboxx {
  width: 80%;
  height: 30px;
}
.sboxx input {
  width: 100%;
  height: 96%;
}
.submitbtn svg {
  margin-top: 41%;
  color: rgb(85, 85, 85);
  height: 17px;
  width: 17px;
}
.submitbtn svg:hover {
  cursor: pointer;
}
.videos {
  width: 100%;
  text-align: center;
}
.youtubevideo {
  margin-top: 30px;

  width: 90%;
  height: 200px;
}

.taable {
  padding: 10px;
  width: 65%;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background-color: #f9f6f3;
  /* margin-top: 10px; */
}
.modalCountryName {
  color: #727272;
  font-size: 35px;
}
.modal {
  /* background-color: rgb(14, 219, 151); */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  /* z-index: 1; */
  height: 70%;
  width: 60%;
  display: flex;
  flex-direction: column;
  background: #f4eee8;
}
.headcountry {
  width: 100%;
  text-align: center;
}
.information {
  display: flex;
  flex-direction: row;

  width: 100%;
  justify-content: space-evenly;
}
.modalcol {
  background-color: rgb(243, 243, 243);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  width: 30%;
}

.backdrop {
  display: none;
  position: fixed;
  /* filter: blur(1px); */
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.733);
}
.backdropVisible {
  display: block;
}
.closeButton {
  width: 50px;
  margin-left: 45%;
  justify-content: center;

  font-size: 20px;
  background-color: #949494;
  color: white;
  border-radius: 5px;
  display: flex;
  vertical-align: center;
  padding: 5px 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
.closeButton:hover,
.closeButton:active {
  cursor: pointer;
  box-shadow: none;
}
/* .closeButton:hover {
  background-color: rgb(185, 218, 255);
  cursor: pointer;
} */

.modalpleft {
  color: rgb(48, 48, 48);
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 300;
}
#closeBtn {
  right: 0;
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
}
footer {
  margin-top: 35px;
  height: 15vh;
  display: table;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  background-color: #f9f6f3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* .footer p {
  margin-top: 50%;
  margin-left: 50%;
} */
.showrank {
  color: #494949;
}
.modalcol {
  display: block;
  text-align: center;
  /* color: */
  /* flex-direction: row; */
  /* align-items: center; */
}
.modal-left {
  background-color: #fffbdf;
  transition: 0.5s;
}
/* .modal-left:hover,
.modal-left:active {

} */

.modalTodayCases,
.modalTodayDeaths,
.modalTodayRecovered {
  font-size: xx-large;
}
.modalTodayDeaths {
  color: #bb371a;
}
.modalTodayRecovered {
  color: #1e6f5c;
}
.modalTodayCases {
  color: #687980;
}

.modal-cenetr {
  background-color: #c6ffc1;
  transition: 0.5s;
}
.modal-cenetr:hover,
.modal-cenetr:active {
  cursor: pointer;
  background-color: rgb(165, 233, 159);
}
.modal-right:hover,
.modal-right:active {
  cursor: pointer;
  background-color: #e7a3a3;
}
.modal-left:hover,
.modal-left:active {
  cursor: pointer;
  background-color: #fff7bd;
}

.modal-right {
  background-color: #f8d7d7;
  transition: 0.5s;
}

.information h4 {
  margin: 0px;
  margin-bottom: 20px;
}
.totaltogether {
  font-size: 12px;
  margin-left: 4px;
  font-weight: 300;
}
.tilldate {
  margin-top: 59vh;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  text-align: center;
}

@media (max-width: 674px) {
  .tilldate {
    margin-top: 70vh;
  }
}
.tilldate h2 {
  font-family: "Roboto Condensed", sans-serif;
  /* font-size: 35px; */
  margin: 3px;
  color: #ffffff;
  /* color: grey; */
}
.tilldate h1 {
  font-size: 40px;
}
.tillcases,
.tilldeaths,
.tillrecovered {
  margin-top: 0;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  color: #c9d42a;
}

.tillrecovered {
  color: #8aca2b;
}
.tilldeaths {
  color: #ff0000;
}

.imgFlag {
  height: 40px;
  width: 60px;
}
.modalInfo {
  margin-top: 10px;
}
.extraModalInfo {
  display: block;
  /* font-family: "Noto Sans", sans-serif; */
  text-align: center;
  font-weight: 300;
}
.mActiveCases {
  font-weight: 600;
  color: rgb(114, 28, 28);
}
.mCritical {
  font-weight: 600;
  color: #ff0000;
}
.mTests {
  font-weight: 600;
  color: #8aca2b;
}

.mPopulation {
  font-weight: 600;
  color: #575a53;
}

.mDate {
  font-weight: 600;
  color: #575a53;
}
/* .m {
  
  margin: 0;
} */

/* .extraModalInfo{

} */
